body {
    background-image: url("../../src/pasilloCastle1.png");
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

* {
    color: white;
}

h1 {
    margin-top: 10vh;
}

.buttons {
    display: flex;
    margin: auto auto;
    width: 60%;
    justify-content: space-between;
    margin-top: 10vh;
}

.nftImg {
    width: 30%;
    margin: auto;
}

.contenedor  {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vmin;
    height: 40vh;
}

.nft-info {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}